.dark {
  --tw-bg-opacity: 1;
  --tw-code-color: white;
  --tw-code-bg: rgb(38 38 38 / var(--tw-bg-opacity));
  background-color: rgb(23 23 23 / var(--tw-bg-opacity));
}

.light {
  background-color: #e8eae7;
}

html {
  -webkit-tap-highlight-color: transparent;
}

.swiper {
  border-radius: 16px;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(69 10 10) !important;
  opacity: 0.5;
  font-weight: 900;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.swiper-pagination-bullet {
  background: rgb(69 10 10) !important;
  opacity: 0.5;
  width: 18px !important;
  height: 18px !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
